:root {
  --bg-color: url(../img/icon.png) 95% 95% no-repeat);
  --txt-color: #333;
}

[data-theme="dark"] {
  --bg-color: linear-gradient(rgba(50, 50, 50, 0.2), rgba(50, 50, 50, 0.2)),url(../img/icon.png) 95% 95% no-repeat;
  --txt-color: #fff;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--txt-color);
    margin: 0;
    padding: 2em;
    height: 90vh;
    background-image: var(--bg-color);
    background-size: 20vh;
}
h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
p {
    width: 80vw;
}
a {
    color: #369;
}
/*Slider theme*/
nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  z-index: 4;
}

.theme-switch-wrapper {
display: flex;
align-items: center;
position: fixed; top: -18px; right: 72%;
}
.theme-switch {
display: inline-block;
height: 34px;
width: 60px;
position: relative;
}

.slider {
background-color:lightblue;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
border-radius: 35px;
cursor: pointer;
transition: 0.4s;
}
.slider::before {
content: "";
position: absolute;
bottom: 3px;
left: 3px;
background-color: #fff;
width: 27px;
height: 27px;
transition: 0.4s;
border-radius: 50%;
}
.switcher{
position:absolute;
display:block;
top:70px;
right:50px;
width:45px;
height:30px;
background: #fff;
box-shadow:0 3px 6px #00000029;
border-radius:31px;
}

input:checked + .slider {
background-color: #555;
}
input:checked + .slider::before {
transform: translateX(26px);
}
label > input[type="checkbox"] {
display: none;
}

em{
color: var(--txt-color);
}

